body{
    
    background-color: rgb(33, 33, 56);
}

.container{
    height : 900px;
    width: 900px;
    display : flex;
    flex: 1;
    margin: auto;
}

.cell{
    background-color: white;
    border: 1px solid red;
    flex: 1;
   }